<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="baseConnection" connectionString="Data Source=GARGULYA;Initial Catalog=CinemaDb;Integrated Security=True;Connect Timeout=30"/>
		<add name="testConnection" connectionString="Data Source=GARGULYA;Initial Catalog=CinemaDbTest;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>